<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Datatable

    //- styles
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css')
    //- link(rel='stylesheet', href='/node_modules/sweetalert2/dist/sweetalert2.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/global.css')

    //- scripts
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/node_modules/datatables/media/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-ko_KR.min.js')
    script(src='/js/bootstrap-datepicker.kr.js')
    script(src='/js/common.js')

  body