#left
  //- #group1.nav-group
    a.group-title(href='#')
      i.fa.fa-bars.fa-lg.fa-fw
      | 재고관리
    .nav-wrapper
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 이동전표관리
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 소모관리
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 자재수불(기간)조회
  #group2.nav-group
    a.group-title.opened(href='#')
      i.fa.fa-bars.fa-lg.fa-fw
      | 호텔엑스트라넷
    .nav-wrapper
      a.nav.active(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 예약목록
      //- a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 객실예약등록
  //- #group3.nav-group
    a.group-title(href='#')
      i.fa.fa-bars.fa-lg.fa-fw
      | 객실관리
    .nav-wrapper
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 객실조회
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 객실등록
      a.nav(href='#')
        i.fa.fa-file.fa-lg.fa-fw
        | 객실관리시스템메인

